.nav-modal {
  width: 500px;
  height: 100%;
  position: fixed;
  right: -500px;
  padding: 20px 30px;
  background-color: #fff;
  z-index: 10;
}

#nav-modal-background {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(0,0,0,0.6);
  z-index: 1;
  
}

.show-modal {
  right: 0;
  transition: right 0.4s ease-in-out;
}

.hide-modal {
  right: -500px;
  transition: right 0.4s ease-in-out;
}